<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>QR Attendance System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar">
        <div class="logo">
            QR Attendance
        </div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="login">Login</a>
        </div>
    </nav>


    <main class="hero">

        <div class="hero-content">

            <p class="tagline">SMART ATTENDANCE MANAGEMENT</p>

            <h1>
                QR-Based<br>
                Attendance System
            </h1>

            <p class="description">
                Fast, secure and simple attendance management
                using QR technology.
            </p>

            <div class="buttons">
                <a href="login" class="btn primary">
                    Login
                </a>

                <a href="#" class="btn secondary">
                    Scan QR
                </a>
            </div>

        </div>

    </main>


    <footer>
        <p>QR Attendance System © 2026</p>
    </footer>

</body>

</html>